.mainLandingPage {
    width: 100vw;
    height: 100vh;
    background-color: var(--grey-4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerDiv {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    overflow-y: auto;
}

.textsSection {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 1rem;
}

.imageSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: center;
}

.textsSection h1 {
    font-family: var(--font-family-nunito);
    font-size: 38px;
    font-weight: 800;
    line-height: 48px;
    color: var(--white);
}

.textsSection p {
    font-family: var(--font-family-nunito);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--white);
}

.logo {
    max-width: 100%;
}

.imageSection {
    display: flex;
    align-items: center;
}

.imageSection_Figure {
    width: 80%;
}

.illustration {
    width: 100%;
    margin: 0 auto;
}

@media (min-width:768px) {
    .containerDiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    .mainLandingPage .textsSection {
        width: 30%;
        gap: 2rem;
    }

    .mainLandingPage .imageSection {
        width: 50%;
    }
}